.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.buttonConainer {
  display: flex;
  flex-wrap: wrap;
}

.button {
  border: 1px solid #fff;
  padding: 8px 16px;
  border-radius: 6px;
  margin: 12px;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
